/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;

}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background: #313437;
}

#footer-text{
    color:white;
}


.row#home-image {
    background-image: url(/images/porshca.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*padding: 0 0 14%;*/
}

.filter-form{
    margin-top:3%;
}

.deposits-catalogue {
    margin-top: 5%;
}
#btn-submit-deposits-filter{
    margin-top:3%;
}

#profitable {
    font-weight: bold;
}

.bank-img{
    width:60px;
    height:60px;
}


.selectors-container {
    margin: auto;
    width: 50%;
    margin-bottom:3%;
}

.deposits-heading{
    text-align:center;
}

#btn-submit-deposits {
    margin: auto;
    width: 50%;
    margin-top: 5%;
}