@using VashiteKinti.Data.Enums
@model VashiteKinti.Data.Models.Deposit

@{
    ViewData["Title"] = "Редакция на депозит";
}

<h1 id="text-orange">Редакция на депозит</h1>

<hr />
<div class="selectors-container">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BankId" class="control-label"></label>
                <input asp-for="BankId" class="form-control" asp-items="ViewBag.BankId"/>
                <span asp-validation-for="BankId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinAmount" class="control-label"></label>
                <input asp-for="MinAmount" class="form-control" />
                <span asp-validation-for="MinAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interest" class="control-label"></label>
                <input asp-for="Interest" class="form-control" />
                <span asp-validation-for="Interest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                @Html.DropDownList("PaymentMethod",
                    Html.GetEnumSelectList<InterestPaymentMethod>(),
                    "Select Payment method", new {@class = "form-control"})
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Currency" class="control-label"></label>
                @Html.DropDownList("Currency",
                    Html.GetEnumSelectList<Currency>(),
                    "Изберете валута", new {@class = "form-control"})
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="form-group" id="btn-save-edit">
                <input type="submit" value="Запази" class="btn btn-warning"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Обратно към списъка</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
