@{
    ViewData["Title"] = "Начало";
}
<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</environment>

<div class="text-center">
    <h1 class="display-4">Добре дошли!</h1>
</div>
<div class="text-center">
    <img src="~/images/VashiteKinti-logo.PNG" asp-append-version="true">
</div> 

<div class="text-center">
    <h5 class="display-3">Където парите Ви работят за ВАС!</h5>
</div>