@model VashiteKinti.Data.Models.Bank

@{
    ViewData["Title"] = "Изтриване";
}

<h1 id="text-orange">Изтриване на банка</h1>

<h3 id="text-red">Сигурни ли сте, че искате да изтриете банката?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтриване" class="btn btn-danger" /> |
        <a asp-action="Index">Отказ</a>
    </form>
</div>
